.skills {
  @media (max-width: 768px) {
    margin-top: 3em;
  }
}
.stack-list {
  margin-top: 1em;
  margin-bottom: 0.7em;

  .iconify {
    font-size: 4.5em;
  }

  &.logos {
    .iconify {
      margin-right: 0.3rem;
    }
    &.child-margin svg {
      margin: 3px;
    }
  }

  @media (max-width: 768px) {
    br {
      display: none;
    }
  }
}
